<nav class="navbar navbar-default">
	<img src="{{url_for('static', filename='img/img1.jpg')}}">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Flask App</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="activate"><a target="_blank" href="{{url_for('index')}}">Home</a></li>
			<li><a target="_blank" href="https://dev0.nxlite.com.br/#login">Dev0</a></li>
		</ul>
	</div>
</nav>


	<!-- <nav>
		<ul>
		<img src="{{url_for('static', filename='img/img1.jpg')}}"> 	
		<li><a target="_blank" href="{{url_for('index')}}"> Link Inicio</a></li> 	aqui estamos acessando o link atraves da função index 
			<li><a target="_blank" href="https://dev0.nxlite.com.br/#login"> Link Dev0</a></li>
		</ul>

		 aqui estamos adicionando uma imagem usando o url_for, para isso temos que passar dois parametros ('nome_pasta'),(fildname='subpasta/nome arquivo') ex: href="static", filename="img/img.jpg"

	</nav> -->


